 
    header{
      text-align: center;
      font-size: 60px;
    }
    body{
      background-color: #cfeeee;
    }
    P{
      padding-left: 200px;
    }
  button{
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: #b3f0e6;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    gap: 20px;
    margin-left: 190px;
    margin-top:20px;
  }
  @media only screen and (max-width :455px){
    header{
      text-align: center;
      font-size: 30px;
    }
    body{
      background-color: #cfeeee;
    }
    p{
      font-size: 10px;
      padding-left: 55px;
    }
  button{
    padding: 2px 4px;
    border: 0.5px solid gray;
    background-color: #b3f0e6;
    cursor: pointer;
    font-size: 6px;
    display: inline-block;
    gap: 3px;
    margin-left: 60px;
    margin-top:10px;
  }
  }

 



